h1= character.name

.profile
	img(src=character.profileUrl)

iframe(src='http://iplay4e.appspot.com/view?xsl=jPint&key=' + character.iplay4eKey, frameborder='no', style='width:400px;border:none; height:800px; padding:0;')
