h1= locals.character.name

.profile
	img(src=locals.character.profileUrl)

iframe(src='http://iplay4e.appspot.com/view?xsl=jPint&key=' + locals.character.iplay4eKey, frameborder='no', style='width:400px;border:none; height:800px; padding:0;')
