script(src='/javascripts/tabula.js')
h1= title
p Welcome to #{title}

#context
	div character
	div map

#stream

	#chat
		textarea(id='post')
		button(data-action='add') post

	ul
	- each post in stream
		li= post.body