script(src='/javascripts/tabula.js')
h1= title
p Welcome to #{title}

#context
	div character
	div map

#stream

	#chat
		textarea(id='post')
		button(data-action='post') post
		button(data-action='clear') clear


	ul
	- each post in stream
		li
			p= post.type
			p= post.body