!!!
html
  head
    title tabula
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.6.2.min.js')
    script(src='/javascripts/jquery.tmpl.min.js')

  body
    -if(hasMessages) 
        #messages
            -each message in messages
                div(class=message.type)=message.content
    #main!= body