#commands
	display none

#chat
	width 432px
	height 96px
	border 1px solid accent
	margin 4px
	display table

	textarea
		height 100%
		width 100%
		margin-right 12px
		box-sizing border-box

	.input
		display table-cell
		width 360px

	.butttons
		display table-cell

.post
	width 432px
	border 1px solid accent
	margin 4px
	display table

	.body
		display table-cell
		padding 6px

	.when
		font-size 80%
		opacity 0.4

	.type
		font-size 90%
		font-style italic
		opacity 0.6

	.profilePic
		display table-cell
		width 96px
		

	.meta
		display table-cell
		width 96px
		background-color accent
		padding 6px

		.character a
			text-decoration none
			color black

.post.ooc .meta
	background-color hsl(270,10%,60%)