#chat
	width 432px
	border 1px solid #dcdcdc
	margin 4px
	display table

#chat textarea
	height 100%
	width 100%
	margin-right 12px
	box-sizing border-box

#chat .input
	display table-cell
	width 360px

#chat .butttons
	display table-cell

.post
	width 432px
	border 1px solid #dcdcdc
	margin 4px
	display table

.post .meta
	display table-cell
	width 96px
	background-color #dcdcdc
	padding 6px

.post .meta a
	text-decoration none

.post .body
	display table-cell
	padding 6px

.post .when
	font-size 80%
	opacity 0.4

.post.ooc .meta
	background-color hsl(270,10%,60%)