#roll 
	.roll
		background-color dark
		min-width 96px
		margin-top 2px
		padding 8px
		color light_text
		.total
			font-size 130%
		.outcome
			margin-left 8px
		.bonus
			margin-left 8px
			opacity 0.6