@import 'normalize'
@import 'jquery.lightbox-0.5'
@import 'mixins'

bg = rgb(222,242,196)
dark = rgb(102,84,70)
contrast = rgb(229,104,63)
accent2 = rgb(174,204,182)
accent = rgb(128,153,148)
light_text = hsl(0,100%,100%)
speech_bg = hsl(0,0%,90%)

dirt = url('/images/dirt.png')

pad = 12px

body, div, header, footer, section
	box-sizing border-box 

html
	height 100%
	width 100%

body
	font 14px 'Lucida Grande', Helvetica, Arial, sans-serif
	background-color bg
	background-image dirt
	height 100%
	width 100%

.page
	margin 0 12px

header
	width 100%
	background-color dark
	background-image dirt
	padding pad

	#account
		position absolute
		right pad
		top pad
	h1
		margin 0
		a, a:visited
			text-decoration none
			color light_text
			text-shadow white 0px 0px 2px, black 1px 1px 0px

footer
	background-color dark
	background-image dirt
	padding pad
	color white
	display none

.root
	box()
	vendor(box-orient, vertical)
	vendor(box-pack, stretch)

#main
	box()
	vendor(box-flex, 1)
	height 100%
	width 100%

section[role=game] 
	box()
	vendor(box-flex, 1)
	vendor(box-pack, start)

#context
	width 240px
	background-color accent2
	padding pad

	img
		max-width 200px

#board
	padding pad
	#stream
		box()
		vendor(box-orient, vertical)

#focus
	padding pad

#preview
	position absolute

@import 'roll'
@import 'post'
@import 'notification'