article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
div,
header,
footer,
section {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #def2c4;
  background-image: url("/images/dirt.png");
  height: 100%;
  width: 100%;
}
.page {
  margin: 0 12px;
}
header {
  width: 100%;
  background-color: #665446;
  background-image: url("/images/dirt.png");
  padding: 12px;
}
header #account {
  position: absolute;
  right: 12px;
  top: 12px;
}
header h1 {
  margin: 0;
}
header h1 a,
header h1 a:visited {
  text-decoration: none;
  color: #fff;
  text-shadow: #fff 0px 0px 2px, #000 1px 1px 0px;
}
footer {
  background-color: #665446;
  background-image: url("/images/dirt.png");
  padding: 12px;
  color: #fff;
}
.root {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: stretch;
  -moz-box-pack: stretch;
  -ms-box-pack: stretch;
  -o-box-pack: stretch;
  box-pack: stretch;
}
#main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  height: 100%;
  width: 100%;
}
section[role=game] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-box-pack: start;
  -o-box-pack: start;
  box-pack: start;
}
#context {
  width: 240px;
  background-color: #aeccb6;
  padding: 12px;
}
#context img {
  max-width: 200px;
}
#board {
  padding: 12px;
}
#focus {
  padding: 12px;
}
#preview {
  position: absolute;
}
#roll .roll {
  background-color: #665446;
  min-width: 96px;
  margin-top: 2px;
  padding: 8px;
  color: #fff;
}
#roll .roll .total {
  font-size: 130%;
}
#roll .roll .outcome {
  margin-left: 8px;
}
#roll .roll .bonus {
  margin-left: 8px;
  opacity: 0.6;
}
#commands {
  display: none;
}
#chat {
  width: 432px;
  height: 96px;
  border: 1px solid #809994;
  margin: 4px;
  display: table;
}
#chat textarea {
  height: 100%;
  width: 100%;
  margin-right: 12px;
  box-sizing: border-box;
}
#chat .input {
  display: table-cell;
  width: 360px;
}
#chat .butttons {
  display: table-cell;
}
.post {
  width: 432px;
  border: 1px solid #809994;
  margin: 4px;
  display: table;
}
.post .body {
  display: table-cell;
  padding: 6px;
}
.post .when {
  font-size: 80%;
  opacity: 0.4;
}
.post .type {
  font-size: 90%;
  font-style: italic;
  opacity: 0.6;
}
.post .profilePic {
  display: table-cell;
  width: 96px;
}
.post .meta {
  display: table-cell;
  width: 96px;
  background-color: #809994;
  padding: 6px;
}
.post .meta .character a {
  text-decoration: none;
  color: #000;
}
.post.ooc .meta {
  background-color: #998fa3;
}
#messages {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #e5683f;
  text-align: center;
  line-height: 2.5em;
  font-size: 24px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  -ms-box-shadow: 0 0 5px #000;
  -o-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  color: #fff;
  text-shadow: #fff 0px 0px 2px, #000 1px 1px 0px;
}
#messages .error {
  color: #000;
}
