@import 'normalize'

div, header, section
	box-sizing border-box 

body
	font 14px 'Lucida Grande', Helvetica, Arial, sans-serif

header
	display table
	width 100%
	background-color hsl(0,40%,70%)
	padding 12px

header h1
	display table-cell
	width 80%
	margin 0

header #account
	display table-cell
	width 20%

section 
	display table-cell

#context
	display table-cell
	width 240px
	border-right 1 dotted gray
	height 100%
	background-color #dcdcdc
	padding 8px

#board
	display table-cell

#messages .error
	color red

.create
	display none

@import 'post'