@import 'normalize'

bg = rgb(222,242,196)
dark = rgb(102,84,70)
contrast = rgb(229,104,63)
accent2 = rgb(174,204,182)
accent = rgb(128,153,148)
light_text = hsl(0,100%,100%)

pad = 12px

div, header, footer, section
	box-sizing border-box 

html
	height 100%
	width 100%

body
	font 14px 'Lucida Grande', Helvetica, Arial, sans-serif
	background-color bg
	background-image url('/images/dirt.png')
	height 100%
	width 100%

header
	display table
	width 100%
	background-color dark
	background-image url('/images/dirt.png')
	padding pad

header h1
	display table-cell
	color light_text
	text-shadow white 0px 0px 2px, black 1px 1px 0px
	width 80%
	margin 0

header #account
	display table-cell
	width 20%

footer
	background-color dark
	background-image url('/images/dirt.png')
	padding pad
	color white

#main
	height 100%
	width 100%
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;

section[role=game] 
	display -webkit-box
	display -moz-box
	display box

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;

#context
	width 240px
	min-height 400px
	background-color accent2
	padding pad

#board
	-webkit-box-flex 1
	-moz-box-flex 1
	box-flex 1
	padding pad

#messages .error
	color red

.create
	display none


#roll 
	.roll
		background-color dark
		margin-top 2px
		padding 4px
		color light_text
		.total
			font-size 130%
		.outcome
			margin-left 8px
		.bonus
			margin-left 8px
			opacity 0.6

@import 'post'