.page
	h1 Campaigns


	-if(campaigns.length ===0)
		p There are currently no campaigns.

	a(href='/campaigns/add/') start campaign
	
	ul
	-each campaign in campaigns
		li
			a(href='/campaigns/join/' + campaign.id)= campaign.name